.DS_Store
node_modules
/dist
*.tar.gz
*.tar
__pycache__
.vscode
*.sav
config.json.

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace
*.code-workspace


# all dot files except .gitignore
.*
!.gitignore
